<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <header>
        <h2>Message Board</h2>
        <% if (isUserLogin) { %>
            <p>Connected As <%= user.username %></p>
        <% } else { %>
        <ul>
            <li><a href="sign-up">Sign Up</a></li>
            <li><a href="/log-in">Log In</a></li>
        </ul>
        <% } %>
    </header>
    <% if(locals.messages) { %>
        <div class="messages-container">
            <% messages.forEach(message => { %>
                <div class="message">
                    <div class="username">
                        Username: <%= message.username %>
                    </div>
                    <div class="message">
                        <p>Message:</p>
                        <p><%= message.comment %></p>
                    </div>
                    <div class="sent-time">
                        Sent At: <%= message.time %>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } else { %>
        <h3>No messages on board</h3>
    <% } %> 
</body>
</html>