<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
    </head>
    <body>
        <%- include ("./partials/header.ejs") %>
        <% if(locals.messages) { %>
            <div class="container">
                <% messages.forEach(message => { %>
                    <div class="message">
                        <div class="username">
                            Username: <%= message.username %>
                        </div>
                        <div class="message">
                            <p>Message:</p>
                            <p><%= message.comment %></p>
                        </div>
                        <div class="sent-time">
                            Sent At: <%= message.time %>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } else { %>
            <h3>No messages on board</h3>
        <% } %> 
        <% if (locals.isUserLogin && isUserLogin) { %>
            <%- include ("./partials/errors.ejs") %>
            <div class="add-comment">
                <form action="/add-comment/<%= user.id %>" method="post">
                    <div>
                        <lable for="comment"></lable>
                        <textarea id="comment" name="comment" placeholder="What's on your mind?"></textarea>
                    </div>
                    <div class="button-div">
                        <button type="submit">Add</button>
                    </div>
                </form>
            </div>
        <%} %>
    </body>
</html>